<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
<head>
    <title>Book Library</title>
</head>
<body>

<div><h1>Book Library <input type="button" value="Add new book" onclick="window.location.href='/add'"/></h1></div>

<div layout:fragment="content">

    <div th:if="${#lists.isEmpty(books)}">
        <p>No records</p>
    </div>

    <article th:each="book : ${books}">
        <header>
            <h2 th:text="${book.title}">title</h2>
        </header>
        <p>
            ISBN: <span th:utext="${book.isbn}"/>
        <p/>
            <p>
                Author: <span th:text="${book.author}">author</span></a>
            </p>
        <hr/>
    </article>

</div>

</body>
</html>